<!-- Author: Justin Montes -->
<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Pattaya|Roboto" rel="stylesheet">
<body background="{{ url_for('static', filename='hero.gif') }}" style="background-size: 100%; background-repeat: no-repeat;">
  <div id="nav">
      <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/login'>Sign In</a> </li>
          <li><a href='/register'>Sign Up</a></li>
      </ul>
      <div class='pseudo-logo' style="margin-top: -10px;">Photoshare</div>
  </div>
  <div>
    <h1 style="margin-top: 10%; float: left; padding-left: 20px; color: #0652DD; font-family: Pattaya"> Create memories on a platform <br>better than
      Instagram...
    </h1>
  </div>
</body>
