<!-- Author: Justin Montes -->
<!doctype html>
<title>Settings</title>
<link rel="stylesheet" href="/static/main.css?1.1">
<link href="https://fonts.googleapis.com/css?family=Pattaya|Roboto" rel="stylesheet">
<div id="nav">
    <ul>
        <li><a href='/logout'>Sign Out</a> </li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
    <div class='search'>
      <form id="content">
        <input type="text" name="input" class="input" placeholder="Search">
        <button type="reset" class="search"></button>
      </form>
    </div>
    <div class='pseudo-logo'>Photoshare x Justin</div>
</div>
